@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

:root {
  --light-mpurp: #9A6CE6;
  --light-dpurp: #453066;
  --light-lblue: #C3D8F4;
  --light-ppurp: #C9B4EA;
  --light-mdpurp: #7B43B3;
}

.container {
  background: var(--light-lblue);
  overflow-y: scroll;
  display: flex;
  min-height: 93.5vh;
  
}

.header {
  display: flex;
  background: white;
  height: 1.8rem;
}


/* Center Window */

.container .center-window {
  flex: 7;
  padding: 1%;
}

/* Tracks */

.track-list {
  background-color: var(--light-dpurp);
  display: flex;
  padding-top: 4%;
  flex-direction: column;
  border-radius: 1.8rem;
  height: 100%;
}

.track-list .add-track-button {
  color: var(--light-mdpurp);
  width: auto;
  cursor: pointer;
  height: 3rem;
  margin-top: -1%;
}

.track-hub .add-track-button:hover {
  opacity: .8;
}

.master-track {
  /* Box */
  background-color: var(--light-mdpurp);
}

.track {
  display: flex;
  /* Box */
  background-color: var(--light-mpurp);
  border-radius: .7rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: auto;
  overflow: hidden;
}

.track .track-title {
  /* Text */
  display: flex;
  justify-content: center;
  padding-top: 1%;
  font-size: 2rem;
}

.track .play-pause-button-window {
  
  background-color: var(--light-lblue);
  width: 10%;
  height: auto;
}

.track .play-pause-button:hover {
  opacity: 60%;
}

/* Left Window */

.container .left-window {
  flex: 3;
  /* background-color: red; */
  
}

/* Right Window */

.container .right-window {
  flex: 3;
  /* background-color: purple; */
}


/* Util */

.add-media-button {
  display: flex;
  justify-content: center;
  padding: .25rem;
}